html {
    font-size: 95% !important;
}
main article :not(pre) > code {
    white-space : pre-wrap !important;
  }

/* figcaption {
    font-size: 60% !important;
} */

li.navlist {
    text-transform: capitalize !important;
}
a {
    color: #af4e38;
}

a.btn {
    background-color: #af4e38;
}

aside nav ul li {
    display: block;
}
ul.recent {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  ul.recent li {
    padding: 5px; /* Add some padding */
    font-size: 1.0em;
    /* text-decoration: underline; */
    width: 100%;
  }

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    width: 80%;
    margin: auto;
    padding: 0px 0px 20px 0px;
    /* padding: .20rem 1.25rem; */
}

ul.recent li:hover {
    background-color: grey;
}

.card-header {
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    font-weight: 700;
}

.card-body {
    flex: 1 1 auto;
    padding: 0;
}

a.home-icon {
    color: #242121;
    margin: 5px;
}

a.home-icon:hover {
    color: grey;
}

.btn-scroll-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    /* padding: 0 5px 10px; */
    padding: 5px;
    color: grey;
    background-color: #242121;
    /* opacity: .7; */
    text-align: center;
    text-decoration: none;
}

.btn-scroll-to-top:hover {
    background-color: grey;
    color: #242121;
}

.topshow {
    visibility: visible;
    opacity: 0.7;
}

.tophide {
    visibility: hidden;
    opacity: 0;
}
h1, h2, h3 {
    font-weight: 500;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pager {
    margin: 22px 0;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.pager li {
    display: inline;
}

.previous>a {
    float: left;
}

.next>a {
    float: right;
}

div.toggler {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

 aside div#navid {
    padding: 0px;
    margin: 0px;
}

.navtest {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


span.toggler {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* Share Test */
#share-buttons {display: inline-block; vertical-align: middle; }
#share-buttons:after {content: ""; display: block; clear: both;}
#share-buttons > div {
    position: relative;
    text-align: left; 
    height: 36px; 
    width: 32px; 
    float: left; 
    text-align: center;
}
#share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
#share-buttons > div:hover {cursor: pointer;}
#share-buttons > div.facebook:hover > svg {fill: #3B5998;}
#share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > div.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
#share-buttons > div.instagram:hover > svg {fill: #C73B92;}
#share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
#share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
#share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
#share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
#share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}

.sharepage {
    background-color: #242121;
}

.tag-block {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0px;
}
.tag-block a {
    /* transition: all 1s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s; */
    display: inline-block;    
}



.tag-block a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1)
}

@media only screen and (max-width: 600px)  {
    .card, .btn-scroll-to-top, .btn-scroll-to-top:hover {
        display: none;
    }
}


/* Modal Image */
.enableModal {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .enableModal:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */ 
  .modal-content { 
    margin: auto; 
    display: block; 
    /* width: 80%; */
    /* max-width: 700px; */
  }
  
  /* Caption of Modal Image */
  #modalCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #modalCaption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .closeModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .closeModal:hover,
  .closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }